name: buildx

on:
  pull_request:
    branches: master
  push:
    branches: master
    tags:

jobs:
  buildx:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v1
      -
        name: Set up Docker Buildx
        id: buildx
        uses: crazy-max/ghaction-docker-buildx@v1
        with:
          version: latest
      -
        name: Available platforms
        run: echo ${{ steps.buildx.outputs.platforms }}
      -
        name: Run Buildx
        run: |
          docker login docker.pkg.github.com -u supcik -p ${{ secrets.GITHUB_TOKEN }}
          docker buildx build \
            --platform linux/amd64,linux/arm/v7,linux/arm64 \
            --tag docker.pkg.github.com/telecom-tower/quote-of-the-day/quote-of-the-day:latest \
            --output "type=image,push=true" \
            .
